In [ ]:
1. Can I add elements into a list present inside a tuple?

In [1]:
tuple_x = (1,2,3,[9,8,7])

In [3]:
tuple_y = (5,6,7,["Arushi","Raj"])

In [4]:
tuple_x+tuple_y

(1, 2, 3, [9, 8, 7], 5, 6, 7, ['Arushi', 'Raj'])

In [7]:
print(id(tuple_x))
print(id(tuple_y))
print(id(tuple_x+tuple_y))

2468873050912
2468872780784
2468908784448

In [9]:
tuple_x[3].append(100)

In [10]:
tuple_x

(1, 2, 3, [9, 8, 7, 100])

2    What data types are eligible for becoming keys in dict?<br>
   - tuples         y
   - list
   - Float          y
   - set

In [14]:
dict_x = {{1,2,3}:"Raj"}

TypeError: unhashable type: 'set'

In [16]:
set_x = {1,2,3}
id(set_x)

2468879717024

In [17]:
set_x.add(5)
id(set_x)

2468879717024

3    Where is indexing NOT possible?<br>
-      list
-       Set        y
-      dict       y
-      string

In [18]:
a_list = [1,2,3,4]
a_list[2]

3

In [19]:
my_str = "Raj"
my_str[2]

'j'

In [21]:
my_dict = {"Raj":2}

In [22]:
my_dict[0]

KeyError: 0

In [23]:
x = [(1,2,3),{1,1,1,2},"This Question is Easy Please don't skip it",3.14]

In [24]:
x[0]

(1, 2, 3)

In [26]:
x[0][0]

1

In [25]:
x[1]

{1, 2}

In [27]:
x[1][0]

TypeError: 'set' object is not subscriptable

In [29]:
for element in x[1]:
    print(element,id(element))

1 2468789747952
2 2468789747984

In [30]:
for element in x[0]:
    print(element,id(element))

1 2468789747952
2 2468789747984
3 2468789748016

In [34]:
 'p' + 'q' if '12'.isdigit() else 'r' + 's'

'pq'

In [36]:
if "12".isdigit():
    print('p'+'q')
else:
    print('r'+'s')

pq

In [31]:
help(str.isdigit)

Help on method_descriptor:

isdigit(self, /)
    Return True if the string is a digit string, False otherwise.

    A string is a digit string if all characters in the string are digits and there
    is at least one character in the string.

In [32]:
"12".isdigit()

True

In [33]:
"12Raj".isdigit()

False

In [35]:
"Rahul"+"Thakur"

'RahulThakur'

In [37]:
def outerFun(a, b):
    def innerFun(c, d):
        return c + d
    return innerFun(a, b)
    return a
result = outerFun(5, 10)
print(result)

15

In [38]:
def random_stuff(x,y):
    return x+y
    return x

In [39]:
random_stuff(1,2)

3

In [ ]:
6  Which Statements are True:
a) Tuples are immutable.

b) We can modify a list even if it is present inside a tuple.

c) Strings are mutable. False
d) Sets can contain mutable elements False

In [40]:
set_x = {1,2,3}

In [41]:
set_x.add([1,2,3])

TypeError: unhashable type: 'list'

In [47]:
tuple_x = (1,)

In [48]:
type(tuple_x)

tuple

In [49]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9)[1::3]

In [52]:
x  = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [50]:
b

5

In [53]:
for i in range(1,9,3):
    print(x[i])

2
5
8

In [ ]:
9  Which of the following are true of Python lists?
·    All elements in a list must be of the same type.False
·    A given object may appear in a list more than once.True
·        A list may contain any type of object except another list.False
       There is conceptual limit to the size of a list.False

In [54]:
[1,2,3,[1,2,3]]

[1, 2, 3, [1, 2, 3]]

In [ ]:
10  Which of the following define the set {'a', 'b', 'c'}:
       s = set('a', 'b', 'c')
·        s = set(['a', 'b', 'c'])      y
·        s = {'a', 'b', 'c'}         y
·        s = {('a', 'b', 'c')}

In [56]:
s = set(['a', 'b', 'c'])

In [58]:
s = {('a', 'b', 'c')}

In [61]:
s

{('a', 'b', 'c')}

In [63]:
len(s)

1

In [ ]:
11 Which of the following are true for objects of Python’s set type:
·     The order of elements in a set is significant.False
·     A given element can’t appear in a set more than once True
      A set may contain elements that are mutable.False
·     Sets are immutable.False

In [ ]:
Which of the following are true of Python dictionaries:
·      A dictionary can contain any object type except another dictionary.False
       Items are accessed by their position in a dictionary.False
·      Dictionaries are immutable:False
·      Dictionaries can be nested to any depth:True

In [65]:
x = {"raj":10,"rahul":15}

In [67]:
for key,value in x.items():
    print(key," ",value)

raj   10
rahul   15

In [68]:
1 in [1,2,3]

True

In [69]:
for i,j in enumerate([1,2,3,4]):
    print(i,"  ",j)

0    1
1    2
2    3
3    4

In [70]:
for i in range(0,len([1,2,3,4])):
    print(i," ",[1,2,3,4][i])

0   1
1   2
2   3
3   4

In [83]:
def display(**kwargs):
    for i,j in kwargs.items():
        print(i,j)

display(emp="Kelly", salary=9000)

emp Kelly
salary 9000

In [81]:
fun1(one = 1,two = 2,three = 3)

one 1
two 2
three 3

In [88]:
a_list = [1,9,3,4]

In [86]:
a_list.sort()

In [87]:
a_list

[1, 3, 4, 9]

In [89]:
sorted(a_list)

[1, 3, 4, 9]

In [90]:
a_list

[1, 9, 3, 4]

In [91]:
import math

In [92]:
math.sqrt(9)

3.0

In [93]:
import os

In [94]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'classes and objects.ipynb',
 'Doubt-Session-11September22.ipynb',
 'Magic Methods.ipynb',
 'Objects,Classes,Inheritance.ipynb',
 'README.md',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'W01D02.ipynb',
 'W01D03.ipynb',
 'W01D04.ipynb',
 'W02D01.ipynb',
 'W02D03.ipynb',
 'W02D04.ipynb',
 'W02D05.ipynb',
 'W02D06.ipynb',
 'W03D01.ipynb',
 'W03D02.ipynb',
 'W03D04.ipynb',
 'W03D05.ipynb',
 'W04D01.ipynb',
 'W04D02.ipynb',
 'W05D02.ipynb',
 'W05D03.ipynb',
 'W05D04.ipynb']

In [105]:
x = 75
def myfunc():
    x = x + 1
    print(x)

In [106]:
myfunc()
print(x)

76
76

In [104]:
raj  = raj+1

NameError: name 'raj' is not defined

In [115]:
import re

re.ASCII

re.ASCII

In [109]:
help(re.ASCII)

Help on RegexFlag in module re object:

class RegexFlag(enum.IntFlag)
 |  RegexFlag(value, names=None, *, module=None, qualname=None, type=None, start=1)
 |
 |  An enumeration.
 |
 |  Method resolution order:
 |      RegexFlag
 |      enum.IntFlag
 |      builtins.int
 |      enum.Flag
 |      enum.Enum
 |      builtins.object
 |
 |  Data and other attributes defined here:
 |
 |  ASCII = re.ASCII
 |
 |  DEBUG = re.DEBUG
 |
 |  DOTALL = re.DOTALL
 |
 |  IGNORECASE = re.IGNORECASE
 |
 |  LOCALE = re.LOCALE
 |
 |  MULTILINE = re.MULTILINE
 |
 |  TEMPLATE = re.TEMPLATE
 |
 |  UNICODE = re.UNICODE
 |
 |  VERBOSE = re.VERBOSE
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from enum.Enum:
 |
 |  name
 |      The name of the Enum member.
 |
 |  value
 |      The value of the Enum member.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from enum.EnumMeta:
 |
 |  __members__
 |      Returns a mapping of member name->value.
 |
 |      This mapping lists all enum members, including aliases. Note that this
 |      is a read-only view of the internal mapping.

In [118]:
given_str = "Rahullll"

In [119]:
re.findall("R.*",given_str)

['Rahullll']

In [122]:
list(map((lambda x :x^3),range(5)))

[3, 2, 1, 0, 7]

In [ ]:
map(function,iterator)