## Q1) Reversing individual words in a given string
my_string = "Hi my name is Raj"<br>
"iH ym eman si jaR"

In [ ]:
str = "Hi i am ajay"
new_str = str.strip()
new_str = new_str.split(" ")

str2= ""
for i in new_str:
    st = ""
    for j in range(len(i)-1,-1,-1):
        st += i[j]
    str2 += st+ " "
print(str2)

In [4]:

str= input("Enter the sentence: ")
words = str.split()
rev_words = words[::-1]
sen =" ".join(rev_words)
print(sen)

Enter the sentence: Hi i am ajay
ajay am i Hi

In [5]:
str = input()
str = str + " "
r = " "
rev = " "
for i in str:
    if i!=" ":
        r = i + r
    else:
        rev = rev + " " + r
print(rev)

Hi i am ajay
  iH  iiH  maiiH  yajamaiiH

In [21]:
my_string = "Hi my name is Raj"
dm = my_string.split()
for i in range(0,len(dm),1):
    dm[i] = dm[i][::-1]
output_string = ' '.join(dm)
print(output_string)

['Hi', 'my', 'name', 'is', 'Raj']
['iH', 'ym', 'eman', 'si', 'jaR']
iH ym eman si jaR

In [27]:
my_string = "Hi my name is Raj"
rev_str = my_string[::-1]
# print(rev_str)
dm = rev_str.split()
" ".join(dm[::-1])

'iH ym eman si jaR'

In [13]:
reverse_str_1 = rev_str.split().reverse()

In [14]:
reverse_str_1

## Python program to print even length words in a given string

my_string = "Hi I am a student of edyoda class B batch"<br>
"Hi"<br>
"am"<br>
"of"<br>

In [28]:
my_str = "i am student of edyoda"
new_str = my_str.split(" ")
print("\n".join(new_str))

i
am
student
of
edyoda

In [29]:
my_str = "i am student of edyoda"
new_str = my_str.split(" ")
for i in range(len(new_str)):
    if(i%2==0):
        print(new_str[i])

i
student
edyoda

In [31]:
given_string ="i am student of edyoda"
word_list = given_string.split(" ")
# for word in word_list:
#     if len(word)%2 == 0 :
#          print (word)
word_list

['i', 'am', 'student', 'of', 'edyoda']

In [32]:
# List comprehension
[word for word in word_list if len(word)%2==0]

['am', 'of', 'edyoda']

In [33]:
integer_list = [1,2,3,4,5,6]
new_list = []
for number in integer_list:
    new_number = number ** 3
    new_list.append(new_number)

In [34]:
new_list

[1, 8, 27, 64, 125, 216]

In [36]:
new_list = [number**3 for number in integer_list ]

In [37]:
new_list

[1, 8, 27, 64, 125, 216]

In [ ]:
## list comprehension [output for_loop_part condition]

In [40]:
my_list = [1,2,3,4]
my_list.append(["Raj","Arooshi","Shashank"])

In [41]:
my_list

[1, 2, 3, 4, ['Raj', 'Arooshi', 'Shashank']]

In [42]:
[1,2,3,4,"Raj","Arooshi","Shashank"]

[1, 2, 3, 4, 'Raj', 'Arooshi', 'Shashank']

In [43]:
my_list = [1,2,3,4]
my_list.extend(["Raj","Arooshi","Shashank"])

In [44]:
my_list

[1, 2, 3, 4, 'Raj', 'Arooshi', 'Shashank']

In [45]:
my_list = [1,2,3,4]
my_list.insert(2,"Shashank")

In [46]:
my_list

[1, 2, 'Shashank', 3, 4]

In [47]:
#Python program to convert tuple to a string
given_tuple = ("Raj","is","a","good","python","developer")
type(given_tuple)

tuple

In [48]:
print(given_tuple)

('Raj', 'is', 'a', 'good', 'python', 'developer')

In [53]:
string_output = ""
for word in given_tuple:
    string_output += word+" "
print(string_output)

Raj is a good python developer

In [54]:
" ".join(given_tuple)

'Raj is a good python developer'

In [55]:
my_list = [1,2,4,5,6,7,8,10,11]
even_list = []
for num in my_list:
    if num%2 ==0:
        even_list.append(num)

In [56]:
even_list

[2, 4, 6, 8, 10]

In [57]:
 [num for num in my_list if num%2 ==0]

[2, 4, 6, 8, 10]

In [58]:
user_input = input()

1 2 3 4 5

In [59]:
user_input

'1 2 3 4 5'

In [62]:
[int(num) for num in user_input.split()]

[1, 2, 3, 4, 5]

In [66]:
list_input = list(map(int,input().split()))

1 2 3 4 5

In [67]:
list_input

[1, 2, 3, 4, 5]

In [68]:
a=[1,2,3,4,5]
[i*5 for i in a ]

[5, 10, 15, 20, 25]