In [1]:
# Swapcase in string

In [2]:
# https://www.hackerrank.com/challenges/list-comprehensions/

In [ ]:
# average of all the buildings with distinct heights in city of bangalore

In [ ]:
# given two sets print their symmetric difference

In [1]:
## Swapcase a given string: swap upper letter of string to lower and lower to upper case

1
2

In [ ]:
string = "Raj is a good Student"
"rAJ IS A GOOD sTUDENT"

In [11]:
chr(65+32)

'a'

In [6]:
ord("A")

65

In [8]:
ord("a")

97

In [10]:
string = "Raj is a good Student"

In [15]:
for char in string:
    if char==" ":
        print(char,end=" ")
    if char.isupper():
        print(chr(ord(char)+32),end="")
    else:
        print(chr(ord(char)-32),end="")

rAJ   IS   A   GOOD   sTUDENT

In [13]:
ord(" ")

32

# given two sets print their symmetric difference

In [16]:
set_A = {1,2,3,4,5,6,78,9,0,10}
set_B = {1,2,3,4,12,12,23,34,10}

In [17]:
set_A.intersection(set_B)

{1, 2, 3, 4, 10}

In [21]:
set_A & set_B

{1, 2, 3, 4, 10}

In [18]:
set_A.union(set_B)

{0, 1, 2, 3, 4, 5, 6, 9, 10, 12, 23, 34, 78}

In [22]:
set_A | set_B

{0, 1, 2, 3, 4, 5, 6, 9, 10, 12, 23, 34, 78}

In [19]:
set_A.union(set_B)-set_A.intersection(set_B)

{0, 5, 6, 9, 12, 23, 34, 78}

In [20]:
set_A.symmetric_difference(set_B)

{0, 5, 6, 9, 12, 23, 34, 78}

### average of all the buildings with distinct heights in city of bangalore

In [23]:
building_heights = [1,2,3,4,5,6,7,8,9,19,19,10,1,5,8,3]

In [24]:
building_heights_set = set(building_heights)

In [25]:
building_heights_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 19}

In [26]:
sum(building_heights_set)/len(building_heights_set)

6.7272727272727275

In [27]:
## Using list Comprehension

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

result = []
for i in range(0,x+1):
    for j in range(0,y+1):
        for k in range(0,z+1):
            if i+j+k != n:
                 result.append([i,j,k])

# print(result)
print([[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if i+j+k!=n ])