# remove in list

In [4]:
list_a = [1,2,3,4,5,1]
x = list_a.remove(1)

In [5]:
list_a

[2, 3, 4, 5, 1]

In [15]:
list_a = [1,2,3,4,5,1]
list_a.remove(10)

ValueError: list.remove(x): x not in list

In [7]:
print(x)

None

# Pop method in list

In [9]:
list_a = [1,2,3,4,5,1]

In [10]:
x = list_a.pop(0)
print(x)

1

In [11]:
list_a

[2, 3, 4, 5, 1]

In [12]:
x = list_a.pop()

In [13]:
x

1

In [14]:
x = list_a.pop(10)

IndexError: pop index out of range

# Using del keyword

In [16]:
list_a = [1,2,3,4,5,2]

In [17]:
del list_a[0]

In [18]:
list_a

[2, 3, 4, 5, 2]

In [19]:
del list_a[0:2]

In [20]:
list_a

[4, 5, 2]

# Sorting my list

In [21]:
list_a = [4,3,6,1,8,2,9,3,0]

In [22]:
list_a.sort()

In [23]:
list_a

[0, 1, 2, 3, 3, 4, 6, 8, 9]

In [24]:
list_a.sort(reverse=True)

In [25]:
list_a

[9, 8, 6, 4, 3, 3, 2, 1, 0]

## Count element in my list

In [26]:
list_a = [1,2,3,4,5,61,2,6,23,3,5,5,6,2]

In [27]:
count_5 = list_a.count(5)

In [28]:
count_5

3

In [34]:
list_a[0:5].count(5)

1

## List index method

In [38]:
list_a = [1,2,3,4,5,6,6]

In [36]:
list_a.index(3)

2

In [39]:
list_a.index(6)

5

## Tuple in Python

In [43]:
sample_tuple = (1,2,3,4,5,[1,2,3,4])

In [44]:
print(type(sample_tuple))

<class 'tuple'>

In [42]:
sample_tuple[0]=10

TypeError: 'tuple' object does not support item assignment

In [50]:
type(sample_tuple[5])

list

In [47]:
sample_tuple[5].extend([1,2,3,4,5,6,7])

In [48]:
sample_tuple

(1, 2, 3, 4, 5, [1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7])

In [51]:
#Some Problems
Given two matrices X,Y
Multiply the two matrices
 X = [
     [1, 7, 3],
     [3, 5, 6],
     [6, 8, 9]
     ]
    
Y = [
    [1, 1, 1, 2],
    [6, 7, 3, 0],
    [4, 5, 9, 1]
    ]

In [53]:
X = [
     [1, 7, 3],
     [3, 5, 6],
     [6, 8, 9]
     ]
    
Y = [
    [1, 1, 1, 2],
    [6, 7, 3, 0],
    [4, 5, 9, 1]
    ]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]  

for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]
for r in result:
    print(r)

[55, 65, 49, 5]
[57, 68, 72, 12]
[90, 107, 111, 21]

In [55]:
result

[[55, 65, 49, 5], [57, 68, 72, 12], [90, 107, 111, 21]]

In [56]:
len(X)

3

In [59]:
result[i][j] += X[i][k] * Y[k][j]

4

In [66]:
print("i  | j   |  k")
for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
            print(i," | ",j," | ",k)

i  | j   |  k
0  |  0  |  0
0  |  0  |  1
0  |  0  |  2
0  |  1  |  0
0  |  1  |  1
0  |  1  |  2
0  |  2  |  0
0  |  2  |  1
0  |  2  |  2
0  |  3  |  0
0  |  3  |  1
0  |  3  |  2
1  |  0  |  0
1  |  0  |  1
1  |  0  |  2
1  |  1  |  0
1  |  1  |  1
1  |  1  |  2
1  |  2  |  0
1  |  2  |  1
1  |  2  |  2
1  |  3  |  0
1  |  3  |  1
1  |  3  |  2
2  |  0  |  0
2  |  0  |  1
2  |  0  |  2
2  |  1  |  0
2  |  1  |  1
2  |  1  |  2
2  |  2  |  0
2  |  2  |  1
2  |  2  |  2
2  |  3  |  0
2  |  3  |  1
2  |  3  |  2