## Functions

In [4]:
def my_sum(my_list):
    summation = 0
    for i in my_list:
        summation+=i
    
    return summation

In [1]:
a_list = [1,2,3,4,5]
sum(a_list)

15

In [5]:
my_sum(a_list)

15

In [6]:
def hello():
    print("Hello Functions")

In [7]:
hello()

Hello Functions

In [ ]:
append()

In [ ]:
'''
my_num = [1,2,3,4,5,6,7,8,9,10]

print("Sum of my num")
## code to get sum of my num
## 10 lines

# 100line


print("sum of my num after multiplying every element by 2")
## code to get sum
## 12 lines \
functions
'''

In [9]:
a_list  = [("Rahul",5),("Aarushi",7),("Shubham",6),("Ansari",7),("Shashwat",6)]
Write a function to convert my given list of tuples in to dictionary where my key is first element of tuple and value is second value of tuple
write another which takes a dictionary as an argument and returns the key with highest and key with lowest value

In [12]:
def convert_to_dict(my_list):
    my_dict=dict(my_list)
    return my_dict

In [13]:
a_list  = [("Rahul",5),("Aarushi",7),("Shubham",6),("Ansari",7),("Shashwat",6)]

In [15]:
sample_dict = convert_to_dict(a_list)

In [16]:
print(sample_dict)

{'Rahul': 5, 'Aarushi': 7, 'Shubham': 6, 'Ansari': 7, 'Shashwat': 6}

In [33]:
# for key,value in sample_dict.items():
#     print(key,value)

sample_list = list(sample_dict.items())

In [27]:
sample_list.sort(reverse=True)

In [28]:
sample_list

[('Shubham', 6), ('Shashwat', 6), ('Rahul', 5), ('Ansari', 7), ('Aarushi', 7)]

In [29]:
def my_func(element):
    return element[1]

In [31]:
sample_list.sort(key=my_func)

In [32]:
sample_list

[('Rahul', 5), ('Shubham', 6), ('Shashwat', 6), ('Ansari', 7), ('Aarushi', 7)]

In [36]:
# l2 = [("Rahul",5),("Aarushi",7),("Shubham",6),("Ansari",7),("Shashwat",6)]
# l1=[]
# for a in range(len(l2)):
#     l1.append(list(l2[a])) 
#     l1.sort()
# def tup_to_dict(l1):       
#         dict1={}
#         for i in range(len(l1)):
#             for j in range(len(l1[i])):
#                 dict1[l1[i][0]] = l1[i][1]
#         print(dict1)
# tup_to_dict(l1)

{'Aarushi': 7, 'Ansari': 7, 'Rahul': 5, 'Shashwat': 6, 'Shubham': 6}

In [56]:
sample_list = [('Raj',5),('Rahul', 5), ('Aarushi', 7), ('Shubham', 6), ('Ansari', 7), ('Shashwat', 6)]


sample_dict  = convert_to_dict(sample_list)

In [38]:
ord("A")

65

In [39]:
chr(64)

'@'

In [41]:
"A"<"@"

False

In [51]:
high_val = -1

low_val = 999999

for element in sample_list:
    if high_val<element[1]:
        high_val=element[1]
        high_name = element[0]
    elif high_val==element[1]:
        if high_name>element[0]:
            high_name = element[0]
            
    if low_val>element[1]:
        low_val = element[1]
        low_name = element[0]
    elif low_val==element[1]:
        if low_name>element[0]:
            low_name = element[0]

In [52]:
high_name,high_val

('Aarushi', 7)

In [53]:
low_name,low_val

('Rahul', 5)

In [57]:
sample_dict

{'Raj': 5, 'Rahul': 5, 'Aarushi': 7, 'Shubham': 6, 'Ansari': 7, 'Shashwat': 6}

In [74]:
def get_highest_and_lowest(my_dict):
    sample_list=list(my_dict.items())
    high_val = -1
    low_val = 999999
    for element in sample_list:
        if high_val<element[1]:
            high_val=element[1]
            high_name = element[0]
        elif high_val==element[1]:
            if high_name>element[0]:
                high_name = element[0]

        if low_val>element[1]:
            low_val = element[1]
            low_name = element[0]
        elif low_val==element[1]:
            if low_name>element[0]:
                low_name = element[0]
    return {low_name:low_val,high_name:high_val}

In [75]:
get_highest_and_lowest(sample_dict)

{'Rahul': 5, 'Aarushi': 7}

In [ ]:
s